bokeh==0.12.10
dask[complete]==0.16.0
distributed==1.20.1
fastparquet==0.0.6
git+https://github.com/datarevenue-berlin/sparsity.git
git+https://github.com/paradoxxxzero/better-exceptions-hook.git
llvmlite==0.19.0
matplotlib==2.0.2
s3fs==0.0.9
seaborn
tornado==4.5.2
tqdm
wheel
